.Main {
    color: red;
}

.Board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.Board div {
    flex-basis: 11%;
    height: 50px;
}

.Board div input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
}

.Board div input:focus {
    background-color: rgba(0,0,255,.3);
}

.Disabled,
.Disabled::-webkit-inner-spin-button,
.Disabled::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    background-color: rgba(255,0,0,.3);
}

.Enabled {
    background-color: rgba(0,255,0,.3);
}